/* typography.css */
body {
	font-size: 75%;
	color: #555;
	background:#fff;
	font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
	background-color: #0054A6;
}
h1, h2
{
	font-weight:normal;
	color:#111;
	margin:0;
	padding:0;
	border:0;
}
.clear
{
	clear:both;
}

#wrapper{
    background: #fff;
    -moz-border-radius: 20px;
    border-radius: 20px;
    margin: 150px auto 0;
    height: auto !important;
    padding: 30px;
    position: relative;
    width: 800px;
}
#socialz{
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    margin: 30px 10px;
    padding: 20px;
}
#socialz #socialz_header {
    color: #777777;
    font-family: Georgia,Times,Times New Roman,serif;
    font-size: 1.5em;
    font-style: italic;
    text-align: center;
}
.choice_icons
{
	width: 100%;
	margin: 0px auto;
	clear: both;
}
.choice_icons figure
{
		text-align: center;
		float:left;
}
.choice_icons .choice
{
	width: 22%;
}
.choice_icons .choice, .choice_icons .choice a, .choice_icons .choice a:visited, .choice_icons .choice a:hover
{
    color: #999999;
    font-size: 1.3em;
    text-decoration: none;
}
